.mod-menu{
    width: 100%;
    background:#f2f7fa url(/eContract/dest/img/menu-bg.png) right center no-repeat;
    background-size: auto 100%;
    white-space: nowrap;
    overflow-x: auto;

    position: fixed;
    .rem(top,100);
    left: 0;
    z-index: 1;

    .fn-clear();
    li{
        display: inline-block;
        .rem(height,100); 
        border-bottom: 1px solid #dbdbdb;
        &.cur{
            border-bottom: 1px solid #1f89ed;
            a{
                color: #1f89ed;
            }
        }
        &:first-child{
            .rem(padding-left,10)
        }
        &:last-child{
            .rem(padding-right,10)
        }
        a{
            display: block;
            color: #999;
            .rem(padding,0,20);
            .rem(font-size,32);
            .rem(height,100); 
            .rem(line-height,100);
            text-align: center;
        }
    }
}
