.page-sign{
    background-color: #f2f4f5;
    .rem(padding-bottom,96);
    
    .seal{
        .rem(width,218);
        .rem(height,218);
        .rem(margin-left,-109);
        position: absolute;
        .rem(top,30);
        left: 50%;
    }
}