.page-sign{
    background-color: #f2f4f5;
    .rem(padding-bottom,96);

    .sign-img{
        .rem(height,260);
        img{
            display: block;
            .rem(width,300);
            .rem(height,180);
            position: absolute;
            .rem(top,40);
            .rem(right,100);
        }
    }
    .seal{
        .rem(width,218);
        .rem(height,218);
        .rem(margin-left,-109);
        position: absolute;
        .rem(top,30);
        left: 50%;
    }
}